/*function getCharacters() {
		fetch('https://playground.4geeks.com/todo/users/rosinni',{method:"GET"})// buscar informacion en la url
		.then((response)=>{
			return response.json()}) // si llega una respuesta prometo que la convierto en un formato utilizable JSON
		.then((data)=>console.log(data))
		//.then((data)=>setCharacters(data.results)) // Prometo que si el formato a json sale bien lo guardo en un espacio
		.catch((error)=>console.log(error)) // si algo sale, lo aviso
	}

	

	useEffect(()=>{
		//codigo que queremos que se ejecute cuando se cargue el componente
		getCharacters()
	},[])






	function createTask() {
		let task = "Pasear al perro"


		fetch('https://playground.4geeks.com/todo/todos/rosinni',{
			method: "POST",
			body: JSON.stringify({
				"label": task,
				"is_done": false
			}),
			headers:{
				"Content-Type": "application/json"
			}
		})
		.then((response)=>{
			console.log(response);
			if (response.status === 201) {
				getTasks()
			}
			
			return response.json()})
		.then((data)=>console.log(data))
		.catch((error)=>console.log(error))

	}